body{
    background-color: var(--color-set-one)
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    }

.flex-container > .t-column {
    background-color: white;
    width: 95%;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 30px;
    }
    
#teacher-one > img{
    background-color: var(--color-set-two);
    float: left;
    border-radius: 30px;
    height: 298px;
    width: 300px;
    z-index: 0;
}
.t-text{
    color: var(--primary-color);
    float: right;
    margin-right: 5%;
    font-size: 20px;
}

.flex-container > .t-column:hover{
    opacity: 75%;

}

@media only screen and (max-width: 800px){
    .flex-container > .t-column {
        height: 200px;
        
    }
    .flex-container > .t-column > #teacher-one > img{
        height: 200px;
        width: 40%;
    }
    
}

