:root{
    --body-color: #ffffff;
    --primary-color: #768fa2;
    --secondary-color: #0b2972;
    --text-color: #000000;
    --color-set-one: #2C2E35;
    --color-set-two: #717277;
    --logo-src: url(images/school_logo.png);
    /*--logo-box-shadow: box-shadow: 0px 10px var(--secondary-color); opacity: 30%; ;*/
    --login-background-gradient: linear-gradient(to bottom, rgb(83, 201, 255), rgb(195, 236, 241));
}