*{
    margin: 0;
}
.container > .left, .right{
    height: 50%;
}
.left{
    background-color: red;
    width: 50%;
    float: left;
}
.left > .img-container{
    background-color: aqua;
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 10%;
}
.left > .img-container > .img{
    background-color: purple;
    width: 50%;
    height: 60%;
    float: left;
}
.left > .img-container > .img-info{
    background-color:burlywood;
    width: 50%;
    height: 100%;
    float: right;
}
.text{
    margin-top: 1vw;
    font-size: 2vw;
}
.info-text{
    font-size: 1.5vw;
}
.left > .img-container > .img-info > .text-container > h1{
    font-size: 3vw;
    text-align: center;
    text-decoration: underline;
}
.right{
    background-color: blue;
    width: 50%;
    float: right;
}
.right > .info-header{
    background-color: black;
    height: 10%;
} 
.right > .info-title{
    background-color: white;
    width: 50%;
    height: 90%;
    float: left;
}
.right > .info-data{
    background-color: grey;
    width: 50%;
    height: 90%;
    float: right;
}
#img{
    width: 100%;
    height: 100%;
}