body{
    background-color: rgb(250, 208, 208);
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    }

.flex-container > .t-column {
    background-color: #f1f1f1;
    width: 95%;
    height: 300px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 30px;
    }

.flex-container > .t-column > #teacher-one > img{
    background-color: grey;
    float: left;
    border-radius: 30px;
    height: 298px;
}
.t-text{
    color: blue;
    float: right;
    margin-right: 5%;
    font-size: 20px;
}

@media only screen and (max-width: 800px){
    .flex-container > .t-column {
        height: 200px;
        
    }
    .flex-container > .t-column > #teacher-one > img{
        height: 200px;
    }


}