/* variables for the app colors*/
:root{
    --body-color: #ffffff;
    --primary-color: #768fa2;
    --secondary-color: #0b2972;
    --text-color: #000000; 
    --logo-src: url(images/school_logo.png);
    /*--logo-box-shadow: box-shadow: 0px 10px var(--secondary-color); opacity: 30%; ;*/
    
}

        /* scrollbar styles */
        
/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--body-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



/*shortcut css classes*/
.bodycolor-txt  {color: var(--body-color);}
.bodycolor-bg   {background-color: var(--body-color);}
.primary-txt    {color: var(--primary-color);}
.primary-bg     {background-color: var(--primary-color);}
.secondary-txt  {color: var(--secondary-color);}
.secondary-bg   {background-color: var(--secondary-color);}
.default-txt    {color: var(--text-color);}
.logo-bg        {background-image: var(--logo-src);}

body{
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--body-color);
    height: 100%;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 300px;
    font-size: 50px;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .container > p{
    text-align: center;
    margin: 25px;
}

header > div > .container{
    display: flex;
    justify-content: center;
}


main{
    width: 100%;
    height: 600px;
    border-radius: 10px 10px 0 0;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

main > .container{
    width: inherit;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 80%;
}

main > .container > button{
    width: 100%;
    height: 100%;
    color: var(--body-color);
    background-color: var(--secondary-color);
    font-size: 50px;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
}


.nav-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: var(--body-color);
}

.nav-footer > a {
    color: var(--text-color);
    margin: 0px 10px;
}



@media only screen and (min-width: 600px) {


    ::-webkit-scrollbar {
        display: block;
      }

    main > .container {
        width: 50%;
        height: 150px;
    }

    main > .container > a{
        font-size: 75px;
    }

    .nav-footer{
        display: none;
    }
  }



/*LOGIN.HTML*/
.container-login{
    text-align: center;
    margin-top: 25%;

}
.container-login > img{
    box-shadow: 0px 10px 5px 8px var(--secondary-color);
    border-radius: 25px;
    width: 40%;
}

.input-login{
    margin-top: 300px;
}

.input-login > input{
    width: 10px;
}