/* variables for the app colors*/
:root{
    --body-color: #ffffff;
    --primary-color: #768fa2;
    --secondary-color: #0b2972;
    --text-color: #000000; 
    --logo-src: url(images/school_logo.png);
    /*--logo-box-shadow: box-shadow: 0px 10px var(--secondary-color); opacity: 30%; ;*/
    --login-background-gradient: linear-gradient(to bottom, rgb(83, 201, 255), rgb(195, 236, 241));
    
    
}

        /* scrollbar styles */
        
/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--body-color); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }



/*shortcut css classes*/
.bodycolor-txt  {color: var(--body-color);}
.bodycolor-bg   {background-color: var(--body-color);}
.primary-txt    {color: var(--primary-color);}
.primary-bg     {background-color: var(--primary-color);}
.secondary-txt  {color: var(--secondary-color);}
.secondary-bg   {background-color: var(--secondary-color);}
.default-txt    {color: var(--text-color);}
.logo-bg        {background-image: var(--logo-src);}

            /*universal styles*/
body{
    padding: 0;
    border: 0;
    margin: 0;
    color: var(--text-color);
    background-color: var(--body-color);
    height: 100%;
}

* {
    margin: 0;
    border: 0;
    padding: 0;
}

.nav-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 50px;
    background-color: var(--body-color);
}

.nav-footer > a {
    color: var(--text-color);
    margin: 0px 10px;
}

            /* index.html styles */

header{
    width: 100%;
    height: 300px;
    font-size: 50px;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

header > .container > p{
    text-align: center;
    margin: 25px;
}

header > div > .container{
    display: flex;
    justify-content: center;
}


main{
    width: 100%;
    height: 600px;
    border-radius: 10px 10px 0 0;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

main > .container{
    width: inherit;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 80%;
}

main > .container > button{
    font-size: 80px;
    color: var(--body-color);
    background-color: var(--secondary-color);
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

            /* LOGIN.HTML styles */
.container-login{
    text-align: center;
}

.container-login > img{
    box-shadow: 0px 10px 5px 8px var(--secondary-color);
    border-radius: 25px;
    width: 40%;
}

.input-login{
    margin-top: 300px;
}

.input-login > input{
    width: 10px;
}

@media only screen and (min-width: 600px) {


    ::-webkit-scrollbar {
        display: block;
      }

    main > .container {
        width: 50%;
        height: 150px;
    }

    main > .container > a{
        font-size: 75px;
    }

    .nav-footer{
        display: none;
    }
  }

.shape-container{
    position: relative;
    text-align: center;
    z-index: -1;
}
.container-login > img{
    position: relative;
    box-shadow: 0px 10px 5px 8px var(--secondary-color);
    border-radius: 25px;
    width: 40%;
    background-image: var(--login-background-gradient);
}

.shape-1 > .shape{
    position: absolute;
    background-color: var(--secondary-color);
    opacity: 50%;
    clip-path: polygon(0 20%, 0 0, 100% 0);
    height: 1000px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    top: 0;
}

.shape-container > .shape-1 :nth-child(2){
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

.shape-2 > .shape{
    position: absolute;
    background-color: var(--secondary-color);
    opacity: 50%;
    clip-path: polygon(0 20%, 0 0, 100% 0);
    height: 500px;
    width: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    top: 0;
}

.shape-container > .shape-2 :nth-child(2){
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
}

input{
    width: 75%;
    height: 100px;
    font-size: 10vw;
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 20px;
    border: 5px solid grey;
}

#test{
    background-color: var(--secondary-color);
    border-radius: 30px;
    border: none;
    height: 75px;
    font-size: 5vw;;
    
}

#test:active{
    background-color: var(--primary-color);
}

